<!-- Modal delete -->

<div class="modal fade" tabindex="-1" role="dialog" id="delete_table">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure to delete this table ?</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Yes", table_path(table), method: :delete, class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
