@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'daterangepicker';
@import 'bootstrap-datepicker3';
@import 'admin-lte/dist/css/AdminLTE';
@import 'admin-lte/dist/css/skins/skin-blue';
@import 'icheck/flat/green';

body {
  font-size: 15px;
}

.icheckbox_flat-green {
  margin-right: 10px;
}

.date-range {
  width: 100% !important;
}