<%= simple_form_for(@category) do |f| %>
  <div class="box-body">
    <div class="row">
      <div class="col-xs-8">
        <%= f.input :name %>
      </div>
    </div>
    <div class="row">
      <%= f.input :active, input_html: { class: 'i-check' } %>
    </div>
  </div>
  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
