<ul class="sidebar-menu" data-widget="tree">
  <li class="active treeview menu-open">
    <a href="/">
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
  </li>

  <li class="treeview menu-open">
    <a href="/tables">
      <i class="fa fa-coffee"></i> <span>Tables</span>
    </a>
  </li>
</ul>
