<ul class="sidebar-menu" data-widget="tree">
  <li class="treeview menu-open">
    <a href="/">
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
  </li>

  <li class="treeview menu-open">
    <a href="/tables">
      <i class="fa fa-coffee"></i> <span>Tables</span>
    </a>
  </li>

  <li class="treeview menu-open">
    <a href="/admins">
      <i class="fa fa-user"></i> <span>Admins</span>
    </a>
  </li>

  <li class="treeview menu-open">
    <a href="/categories">
      <i class="fa fa-tags"></i> <span>Categories</span>
    </a>
  </li>

  <li class="treeview menu-open">
    <a href="/dishes">
      <i class="fa fa-cutlery"></i> <span>Dishes</span>
    </a>
  </li>

  <li class="treeview menu-open">
    <a href="/toppings">
      <i class="fa fa-bars"></i> <span>Toppings</span>
    </a>
  </li>
</ul>
